<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Raffle</h5>
          <p>
            <strong>ID</strong>: {{raffle.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{raffle.raffleName}}</p>
          <p>
            <strong>Entries:</strong> {{raffle.entryCount}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
