<body>
  <div class="container entry">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/">Submit a new entry</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/raffle">Start a new raffle</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 entry-container">
        <ul id="entry-list" class="list-group">
          <h3>Raffle Entries:</h3> 
          {{#each Entry}}
          <li>
            {{this.userName}} has entered the {{this.ticket}} raffle.
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <!-- Custom Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
  <script src="js/entry.js" type="text/javascript"></script>

</body>