<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        {{#each Entry}}
        <div class="card-body">
          <h5 class="card-title">Entries</h5>
          <p>
            <strong>ID</strong>: {{this.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{this.userName}}</p>
          <p>
            <strong>Raffle Won:</strong> {{this.ticket}}</p>
            <a href="/">← Back To Home</a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
