<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Winners</h5>
          <p>
            <strong>ID</strong>: {{Winner.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{Winner.winnerName}}</p>
          <p>
            <strong>Raffle Won:</strong> {{Winner.raffleWon}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
